body{
    background-color: blueviolet;
}

h1{
    text-align: center;
}
h2{
    text-align: center;
}
p{
    text-align: center;
}
#rules{
    background-color: aqua; 
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
}
#choosecharacter{
    background-color: aqua;
    display: flex; 
    justify-content:center; 
    align-items: center; 
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 10px;
    overflow: auto;
}

#choosecharacter img{
    padding-left: 10px;
    padding-right: 10px;
}

#image:hover{
    height: 200px;

}