body{
    margin:0;
    overflow: hidden;
    background: linear-gradient(to top left, black, aqua, black, aqua, black);
}
#game{
    border-style: solid;
    border-color: aqua ;
    background-image: url("background.png");
}

